user page

<% if @user %>
  <h2> <%= @user.username %>'s wall </h2>
    <% @user.peeps.each do |peep| %>
      <ul>
        <div class="peep">
          <div class="container">
            <!-- peep user -->
            <% peep.user.each do |user| %>
              <h4><%= user.username %></h4>
            <% end %>
            <!-- peep date -->
            <div class="created">
              <%= peep.created_at %>
            </div>
            <!-- peep body -->
          <p><%= peep.body %></p>
            <!-- peep hashtags -->
          <% peep.hashtags.each do |tag| %>
            <input type="submit" name="display_tag" value="<%= tag.content %>">
          <% end %>
        </div>
      </ul>
    <% end %>

    <h2>Peeps that I've been tagged in</h2>
    <% @user.who_tagged_me.each do |peep| %>
      <ul>
        <div class="peep">
          <div class="container">

            <h3> tagged by <%= peep.tagger%></h3>
            <!-- peep user -->
            <%= peep.author%>
            <%= peep.body%>
            <%= peep.date%>
        </div>
      </ul>
    <% end %>
  <% else %>
  Sign in to use Chitter!
<% end %>
