<link type="text/css" rel="stylesheet" href="css/peeps_index.css">

<% if @user %>

<div class="sign-out-btn">
  <form action="/sessions/destroy" method="post">
    <input type="submit" name="sign_out" value="Sign out" />
  </form>
</div>

  <h2>Signed in as, <%= @user.username %></h2>

  <div class="form">
    <form class="" action="peep/new" method="post">
      <input type="text" name="text_area" placeholder=""="Enter Peep">
      <input type="submit" name="submit" value="Peep">
    </form>
  </div>

  <% else %>
  <h3>Sign in to use Chitter!</h3>
<% end %>

<% @peeps.each do |peep| %>
  <ul>
    <div class="peep">
      <div class="container">
        <!-- peep user -->
        <% peep.user.each do |user| %>
          <h4><%= user.username %></h4>
        <% end %>
        <!-- peep date -->
        <div class="created">
          <%= peep.created_at %>
        </div>
        <!-- peep body -->
      <p><%= peep.body %></p>
        <!-- peep hashtags -->
      <% peep.hashtags.each do |tag| %>
        <form class="" action="peeps/hashtags/<%= tag.id %>" method="get">
           <input type="submit" name="display_tag" value="<%= tag.content %>">
        </form>
      <% end %>

      <% if @user %>

        <form class="" action="/peeps/<%= peep.id %>/tag_user" method="post">
          <div class="custom-select"  style="width:200px;">
            <select name="select-user">
              <option value="0">Tag a user:</option>
              <% @users.each do |user| %>
              <option value="<%= user.id %>"> <%= user.username %> </option>
              <% end %>
            </select>
          </div>
          <input type="submit" name="tag_user" value="Tag">
        </form>

      <% end %>
    </div>
  </ul>
<% end %>
