
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width">
  <meta name="author" content="SitePoint">

  <link type="text/css" rel="stylesheet" href="css/nav-styles.css">
  <link type="text/css" rel="stylesheet" href="css/peep-styles.css">
  <link type="text/css" rel="stylesheet" href="css/mention.css">
  <link href="https://fonts.googleapis.com/css?family=Psoppins%26display=swap" rel="stylesheet">

  <script type="text/javascript">
    const users = <%= @usernames %>
  </script>

</head>

  <body>

    <nav>
      <div class="logo">
          <h4>Chitter</h4>
      </div>
      <ul class="nav-links">
          <li><a href="/peeps">Home</a></li>
          <li><a href="/user_page">Explore</a></li>
          <li>
            <% if @user %>
              <form action="/sessions/destroy" method="post">
                <input class="btn" type="submit" name="sign_out" value="Sign out" />
              </form>
            <% else %>
              <a href="/">Sign in</a>
            <% end %>
          </li>
      </ul>
      <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
    </nav>

    <% if @user %>

      <div class='welcome-msg'>
        <h2>Signed in as, <a href="user_page"><%= @user.username %></a></<h2>
      </div>

      <div class="form">
        <form class="" action="peep/new" method="post">
          <!-- <input type="text" name="text_area" id="textarea" size="50" placeholder="@mention a user in your peep!" autocomplete="off"> -->
           <textarea name="text_area" id="textarea" placeholder="mention a @user in your peep!" autocomplete="off"></textarea>

          <div id="menu" class="menu" role="listbox"></div>
          <input class="btn" type="submit" name="submit" value="Peep">
        </form>
      </div>

      <div class="notice">
      <% else %>
      <h3 class="welcome-msg">Sign in to use Chitter!</h3>
    <% end %>
    </div>

    <h3><%= flash[:notice] %></h3>

    <% @peeps.each do |peep| %>
      <ul>
        <div class="peep container">
          <div class="square">
            <!-- peep user -->
            <% peep.user.each do |user| %>
            <div class="peep-username">
              <img class="profile-pic" src="https://miro.medium.com/max/600/1*PiHoomzwh9Plr9_GA26JcA.png" style="" alt="">
                <div class="h1"><h4><%= user.username %></h4></div>
            </div>
            <% end %>
            <!-- peep date -->
            <div class="created">
              <%= peep.created_at %>
            </div>
            <!-- peep body -->
          <p><%= peep.body %></p>
            <!-- peep hashtags -->
          <% peep.hashtags.each do |tag| %>
            <div class="hashtags">
              <form class="" action="peeps/hashtags/<%= tag.id %>" method="get">
                 <input class="hashtag" type="submit" name="display_tag" value="<%= tag.content %>">
              </form>
            </div>
          <% end %>
          <!-- tagging a user -->
          <% if @user %>

            <div class="tag-user">
              <form action="/peeps/<%= peep.id %>/tag_user" method="post">
                <div class="custom_select select-dropdown"  style="width:150px;">
                  <select name="select_user">
                    <option value="0">Tag a user:</option>
                    <% @users.each do |user| %>
                    <option value="<%= user.id %>"> <%= user.username %> </option>
                    <% end %>
                  </select>
                </div>
                <a><input class="btn" type="submit" name="tag_user" value="Tag"></a>
              </form>
            </div>
          <% end %>


          <div class="comments">
          <% if @user %>
            <form action="/peeps/<%= peep.id %>/new_comment" method="post">
              <input type="text"name="comment">
              <input type="submit" name="submit" value="Comment">
            </form>

          <% end %>

            <div class="comment-link more ">
              <div class="comment-square">
            	<% peep.comments.each do |comment| %>

                    <% comment.users.each do |user| %>
                    <div class="comment-usercard">
                      <img class="comment-profile-pic" src="https://miro.medium.com/max/600/1*PiHoomzwh9Plr9_GA26JcA.png" style="" alt="">
                        <div class="h4"><h5><%= user.username %></h5></div>
                    </div>
                    <% end %>
                    <p class="comment-text"><%= comment.text %></p>

              <% end %>
              </div>
            </div>


          </div>

        </div>
      </ul>

      </div>

    <% end %>
    <script src="js/navbar.js" charset="utf-8"></script>
    <script src="js/mention.js" charset="utf-8"></script>
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/showmore.js" charset="utf-8"></script>
  </body>
</html>
